.button-group button {
  margin: 8px; }

/* Borrow Fireworks Effect props: https://codepen.io/yshlin/pen/ylDEk */
body {
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden; }

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards; }

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s; }

@-webkit-keyframes bang {
  to {
    box-shadow: -140px -127.66667px #ff0040, -91px -41.66667px #4d00ff, -213px -345.66667px #95ff00, 180px -411.66667px #7b00ff, 166px -120.66667px #00ff9d, 210px -326.66667px #00ddff, 58px -267.66667px #00ffe1, -230px -44.66667px #ff0d00, 77px -367.66667px #0022ff, 8px -259.66667px #0009ff, 167px -96.66667px #ff0009, 149px 69.33333px #00fbff, 88px -135.66667px #6a00ff, -97px -353.66667px #b700ff, -223px -76.66667px #00ff3c, -181px -303.66667px #0400ff, 221px -110.66667px #ff6a00, 4px 48.33333px #ffc800, 200px -360.66667px #00ff4d, -5px -12.66667px #0037ff, -62px -212.66667px #004dff, -91px -289.66667px #00ff88, -177px -113.66667px #ff0084, 46px -128.66667px #aa00ff, -155px -409.66667px #ff1e00, -217px -100.66667px #ff0400, -66px -323.66667px #0026ff, -75px -318.66667px yellow, 99px -93.66667px #0059ff, 118px -402.66667px #00fff2, 145px 9.33333px #eeff00, 104px -129.66667px #c800ff, -55px 31.33333px #00ff0d, -135px -202.66667px #ff0400, -126px -14.66667px #00eeff, -220px -132.66667px #3cff00, -85px -349.66667px #a2ff00, -230px -265.66667px #d500ff, -137px 40.33333px #44ff00, -64px -401.66667px #ff00ee, 141px -247.66667px #ff9500, 230px -84.66667px #00ff15, -230px -2.66667px #0033ff, 170px -319.66667px #4d00ff, -203px -210.66667px #c4ff00, -54px -199.66667px #bf00ff, -218px -177.66667px #ff0084, -220px 76.33333px #ff00e1, -185px -52.66667px #ff5900, -59px -50.66667px #ff002b, -195px 60.33333px #ff8800; } }

@-moz-keyframes bang {
  to {
    box-shadow: -140px -127.66667px #ff0040, -91px -41.66667px #4d00ff, -213px -345.66667px #95ff00, 180px -411.66667px #7b00ff, 166px -120.66667px #00ff9d, 210px -326.66667px #00ddff, 58px -267.66667px #00ffe1, -230px -44.66667px #ff0d00, 77px -367.66667px #0022ff, 8px -259.66667px #0009ff, 167px -96.66667px #ff0009, 149px 69.33333px #00fbff, 88px -135.66667px #6a00ff, -97px -353.66667px #b700ff, -223px -76.66667px #00ff3c, -181px -303.66667px #0400ff, 221px -110.66667px #ff6a00, 4px 48.33333px #ffc800, 200px -360.66667px #00ff4d, -5px -12.66667px #0037ff, -62px -212.66667px #004dff, -91px -289.66667px #00ff88, -177px -113.66667px #ff0084, 46px -128.66667px #aa00ff, -155px -409.66667px #ff1e00, -217px -100.66667px #ff0400, -66px -323.66667px #0026ff, -75px -318.66667px yellow, 99px -93.66667px #0059ff, 118px -402.66667px #00fff2, 145px 9.33333px #eeff00, 104px -129.66667px #c800ff, -55px 31.33333px #00ff0d, -135px -202.66667px #ff0400, -126px -14.66667px #00eeff, -220px -132.66667px #3cff00, -85px -349.66667px #a2ff00, -230px -265.66667px #d500ff, -137px 40.33333px #44ff00, -64px -401.66667px #ff00ee, 141px -247.66667px #ff9500, 230px -84.66667px #00ff15, -230px -2.66667px #0033ff, 170px -319.66667px #4d00ff, -203px -210.66667px #c4ff00, -54px -199.66667px #bf00ff, -218px -177.66667px #ff0084, -220px 76.33333px #ff00e1, -185px -52.66667px #ff5900, -59px -50.66667px #ff002b, -195px 60.33333px #ff8800; } }

@-o-keyframes bang {
  to {
    box-shadow: -140px -127.66667px #ff0040, -91px -41.66667px #4d00ff, -213px -345.66667px #95ff00, 180px -411.66667px #7b00ff, 166px -120.66667px #00ff9d, 210px -326.66667px #00ddff, 58px -267.66667px #00ffe1, -230px -44.66667px #ff0d00, 77px -367.66667px #0022ff, 8px -259.66667px #0009ff, 167px -96.66667px #ff0009, 149px 69.33333px #00fbff, 88px -135.66667px #6a00ff, -97px -353.66667px #b700ff, -223px -76.66667px #00ff3c, -181px -303.66667px #0400ff, 221px -110.66667px #ff6a00, 4px 48.33333px #ffc800, 200px -360.66667px #00ff4d, -5px -12.66667px #0037ff, -62px -212.66667px #004dff, -91px -289.66667px #00ff88, -177px -113.66667px #ff0084, 46px -128.66667px #aa00ff, -155px -409.66667px #ff1e00, -217px -100.66667px #ff0400, -66px -323.66667px #0026ff, -75px -318.66667px yellow, 99px -93.66667px #0059ff, 118px -402.66667px #00fff2, 145px 9.33333px #eeff00, 104px -129.66667px #c800ff, -55px 31.33333px #00ff0d, -135px -202.66667px #ff0400, -126px -14.66667px #00eeff, -220px -132.66667px #3cff00, -85px -349.66667px #a2ff00, -230px -265.66667px #d500ff, -137px 40.33333px #44ff00, -64px -401.66667px #ff00ee, 141px -247.66667px #ff9500, 230px -84.66667px #00ff15, -230px -2.66667px #0033ff, 170px -319.66667px #4d00ff, -203px -210.66667px #c4ff00, -54px -199.66667px #bf00ff, -218px -177.66667px #ff0084, -220px 76.33333px #ff00e1, -185px -52.66667px #ff5900, -59px -50.66667px #ff002b, -195px 60.33333px #ff8800; } }

@-ms-keyframes bang {
  to {
    box-shadow: -140px -127.66667px #ff0040, -91px -41.66667px #4d00ff, -213px -345.66667px #95ff00, 180px -411.66667px #7b00ff, 166px -120.66667px #00ff9d, 210px -326.66667px #00ddff, 58px -267.66667px #00ffe1, -230px -44.66667px #ff0d00, 77px -367.66667px #0022ff, 8px -259.66667px #0009ff, 167px -96.66667px #ff0009, 149px 69.33333px #00fbff, 88px -135.66667px #6a00ff, -97px -353.66667px #b700ff, -223px -76.66667px #00ff3c, -181px -303.66667px #0400ff, 221px -110.66667px #ff6a00, 4px 48.33333px #ffc800, 200px -360.66667px #00ff4d, -5px -12.66667px #0037ff, -62px -212.66667px #004dff, -91px -289.66667px #00ff88, -177px -113.66667px #ff0084, 46px -128.66667px #aa00ff, -155px -409.66667px #ff1e00, -217px -100.66667px #ff0400, -66px -323.66667px #0026ff, -75px -318.66667px yellow, 99px -93.66667px #0059ff, 118px -402.66667px #00fff2, 145px 9.33333px #eeff00, 104px -129.66667px #c800ff, -55px 31.33333px #00ff0d, -135px -202.66667px #ff0400, -126px -14.66667px #00eeff, -220px -132.66667px #3cff00, -85px -349.66667px #a2ff00, -230px -265.66667px #d500ff, -137px 40.33333px #44ff00, -64px -401.66667px #ff00ee, 141px -247.66667px #ff9500, 230px -84.66667px #00ff15, -230px -2.66667px #0033ff, 170px -319.66667px #4d00ff, -203px -210.66667px #c4ff00, -54px -199.66667px #bf00ff, -218px -177.66667px #ff0084, -220px 76.33333px #ff00e1, -185px -52.66667px #ff5900, -59px -50.66667px #ff002b, -195px 60.33333px #ff8800; } }

@keyframes bang {
  to {
    box-shadow: -140px -127.66667px #ff0040, -91px -41.66667px #4d00ff, -213px -345.66667px #95ff00, 180px -411.66667px #7b00ff, 166px -120.66667px #00ff9d, 210px -326.66667px #00ddff, 58px -267.66667px #00ffe1, -230px -44.66667px #ff0d00, 77px -367.66667px #0022ff, 8px -259.66667px #0009ff, 167px -96.66667px #ff0009, 149px 69.33333px #00fbff, 88px -135.66667px #6a00ff, -97px -353.66667px #b700ff, -223px -76.66667px #00ff3c, -181px -303.66667px #0400ff, 221px -110.66667px #ff6a00, 4px 48.33333px #ffc800, 200px -360.66667px #00ff4d, -5px -12.66667px #0037ff, -62px -212.66667px #004dff, -91px -289.66667px #00ff88, -177px -113.66667px #ff0084, 46px -128.66667px #aa00ff, -155px -409.66667px #ff1e00, -217px -100.66667px #ff0400, -66px -323.66667px #0026ff, -75px -318.66667px yellow, 99px -93.66667px #0059ff, 118px -402.66667px #00fff2, 145px 9.33333px #eeff00, 104px -129.66667px #c800ff, -55px 31.33333px #00ff0d, -135px -202.66667px #ff0400, -126px -14.66667px #00eeff, -220px -132.66667px #3cff00, -85px -349.66667px #a2ff00, -230px -265.66667px #d500ff, -137px 40.33333px #44ff00, -64px -401.66667px #ff00ee, 141px -247.66667px #ff9500, 230px -84.66667px #00ff15, -230px -2.66667px #0033ff, 170px -319.66667px #4d00ff, -203px -210.66667px #c4ff00, -54px -199.66667px #bf00ff, -218px -177.66667px #ff0084, -220px 76.33333px #ff00e1, -185px -52.66667px #ff5900, -59px -50.66667px #ff002b, -195px 60.33333px #ff8800; } }

@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
