.button-group button {
  margin: 8px; }

/* Borrow Fireworks Effect props: https://codepen.io/yshlin/pen/ylDEk */
body {
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden; }

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards; }

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s; }

@-webkit-keyframes bang {
  to {
    box-shadow: -214px -140.66667px #00ffd5, -24px -158.66667px #00eaff, 206px -350.66667px #0080ff, -128px 82.33333px #00a2ff, 2px -274.66667px #73ff00, 24px -46.66667px #aeff00, -65px -355.66667px #3c00ff, -151px -22.66667px #ff7700, -86px -35.66667px #00ff7b, 63px 4.33333px #04ff00, -173px -114.66667px #d900ff, 56px -296.66667px #ff007b, 140px -203.66667px #00ffa2, -4px -151.66667px #0088ff, 174px -108.66667px #ff00c4, 85px -334.66667px #5eff00, 103px -151.66667px #fff200, 188px -280.66667px #00ffd0, 4px -349.66667px #ff00f2, -237px 33.33333px #8800ff, 98px 44.33333px #0400ff, 188px -362.66667px #ff1500, -192px -204.66667px #004dff, -31px -155.66667px #ff5100, 105px -242.66667px #ff00b3, -76px -25.66667px #ff001e, -94px 72.33333px #005eff, 169px -305.66667px #00ff51, 67px -364.66667px #ffaa00, -17px -248.66667px #ff4d00, 196px -301.66667px #00ff5e, -8px -250.66667px #00ff77, -33px -311.66667px #ff2b00, 1px -201.66667px #c400ff, 35px -144.66667px #9dff00, 212px -17.66667px #00ff73, 96px -151.66667px #c800ff, 47px -261.66667px #9d00ff, 130px -122.66667px #00ff5e, -232px -365.66667px #ff00d9, -209px -195.66667px #a600ff, 44px -128.66667px #0009ff, 188px -127.66667px #33ff00, -239px 4.33333px #91ff00, -62px -183.66667px #0088ff, 189px -290.66667px #00b3ff, 200px -177.66667px #ff006a, -174px 45.33333px #ffdd00, -5px -186.66667px #00ff77, -40px 48.33333px #ff0022, -151px -356.66667px #0033ff; } }

@-moz-keyframes bang {
  to {
    box-shadow: -214px -140.66667px #00ffd5, -24px -158.66667px #00eaff, 206px -350.66667px #0080ff, -128px 82.33333px #00a2ff, 2px -274.66667px #73ff00, 24px -46.66667px #aeff00, -65px -355.66667px #3c00ff, -151px -22.66667px #ff7700, -86px -35.66667px #00ff7b, 63px 4.33333px #04ff00, -173px -114.66667px #d900ff, 56px -296.66667px #ff007b, 140px -203.66667px #00ffa2, -4px -151.66667px #0088ff, 174px -108.66667px #ff00c4, 85px -334.66667px #5eff00, 103px -151.66667px #fff200, 188px -280.66667px #00ffd0, 4px -349.66667px #ff00f2, -237px 33.33333px #8800ff, 98px 44.33333px #0400ff, 188px -362.66667px #ff1500, -192px -204.66667px #004dff, -31px -155.66667px #ff5100, 105px -242.66667px #ff00b3, -76px -25.66667px #ff001e, -94px 72.33333px #005eff, 169px -305.66667px #00ff51, 67px -364.66667px #ffaa00, -17px -248.66667px #ff4d00, 196px -301.66667px #00ff5e, -8px -250.66667px #00ff77, -33px -311.66667px #ff2b00, 1px -201.66667px #c400ff, 35px -144.66667px #9dff00, 212px -17.66667px #00ff73, 96px -151.66667px #c800ff, 47px -261.66667px #9d00ff, 130px -122.66667px #00ff5e, -232px -365.66667px #ff00d9, -209px -195.66667px #a600ff, 44px -128.66667px #0009ff, 188px -127.66667px #33ff00, -239px 4.33333px #91ff00, -62px -183.66667px #0088ff, 189px -290.66667px #00b3ff, 200px -177.66667px #ff006a, -174px 45.33333px #ffdd00, -5px -186.66667px #00ff77, -40px 48.33333px #ff0022, -151px -356.66667px #0033ff; } }

@-o-keyframes bang {
  to {
    box-shadow: -214px -140.66667px #00ffd5, -24px -158.66667px #00eaff, 206px -350.66667px #0080ff, -128px 82.33333px #00a2ff, 2px -274.66667px #73ff00, 24px -46.66667px #aeff00, -65px -355.66667px #3c00ff, -151px -22.66667px #ff7700, -86px -35.66667px #00ff7b, 63px 4.33333px #04ff00, -173px -114.66667px #d900ff, 56px -296.66667px #ff007b, 140px -203.66667px #00ffa2, -4px -151.66667px #0088ff, 174px -108.66667px #ff00c4, 85px -334.66667px #5eff00, 103px -151.66667px #fff200, 188px -280.66667px #00ffd0, 4px -349.66667px #ff00f2, -237px 33.33333px #8800ff, 98px 44.33333px #0400ff, 188px -362.66667px #ff1500, -192px -204.66667px #004dff, -31px -155.66667px #ff5100, 105px -242.66667px #ff00b3, -76px -25.66667px #ff001e, -94px 72.33333px #005eff, 169px -305.66667px #00ff51, 67px -364.66667px #ffaa00, -17px -248.66667px #ff4d00, 196px -301.66667px #00ff5e, -8px -250.66667px #00ff77, -33px -311.66667px #ff2b00, 1px -201.66667px #c400ff, 35px -144.66667px #9dff00, 212px -17.66667px #00ff73, 96px -151.66667px #c800ff, 47px -261.66667px #9d00ff, 130px -122.66667px #00ff5e, -232px -365.66667px #ff00d9, -209px -195.66667px #a600ff, 44px -128.66667px #0009ff, 188px -127.66667px #33ff00, -239px 4.33333px #91ff00, -62px -183.66667px #0088ff, 189px -290.66667px #00b3ff, 200px -177.66667px #ff006a, -174px 45.33333px #ffdd00, -5px -186.66667px #00ff77, -40px 48.33333px #ff0022, -151px -356.66667px #0033ff; } }

@-ms-keyframes bang {
  to {
    box-shadow: -214px -140.66667px #00ffd5, -24px -158.66667px #00eaff, 206px -350.66667px #0080ff, -128px 82.33333px #00a2ff, 2px -274.66667px #73ff00, 24px -46.66667px #aeff00, -65px -355.66667px #3c00ff, -151px -22.66667px #ff7700, -86px -35.66667px #00ff7b, 63px 4.33333px #04ff00, -173px -114.66667px #d900ff, 56px -296.66667px #ff007b, 140px -203.66667px #00ffa2, -4px -151.66667px #0088ff, 174px -108.66667px #ff00c4, 85px -334.66667px #5eff00, 103px -151.66667px #fff200, 188px -280.66667px #00ffd0, 4px -349.66667px #ff00f2, -237px 33.33333px #8800ff, 98px 44.33333px #0400ff, 188px -362.66667px #ff1500, -192px -204.66667px #004dff, -31px -155.66667px #ff5100, 105px -242.66667px #ff00b3, -76px -25.66667px #ff001e, -94px 72.33333px #005eff, 169px -305.66667px #00ff51, 67px -364.66667px #ffaa00, -17px -248.66667px #ff4d00, 196px -301.66667px #00ff5e, -8px -250.66667px #00ff77, -33px -311.66667px #ff2b00, 1px -201.66667px #c400ff, 35px -144.66667px #9dff00, 212px -17.66667px #00ff73, 96px -151.66667px #c800ff, 47px -261.66667px #9d00ff, 130px -122.66667px #00ff5e, -232px -365.66667px #ff00d9, -209px -195.66667px #a600ff, 44px -128.66667px #0009ff, 188px -127.66667px #33ff00, -239px 4.33333px #91ff00, -62px -183.66667px #0088ff, 189px -290.66667px #00b3ff, 200px -177.66667px #ff006a, -174px 45.33333px #ffdd00, -5px -186.66667px #00ff77, -40px 48.33333px #ff0022, -151px -356.66667px #0033ff; } }

@keyframes bang {
  to {
    box-shadow: -214px -140.66667px #00ffd5, -24px -158.66667px #00eaff, 206px -350.66667px #0080ff, -128px 82.33333px #00a2ff, 2px -274.66667px #73ff00, 24px -46.66667px #aeff00, -65px -355.66667px #3c00ff, -151px -22.66667px #ff7700, -86px -35.66667px #00ff7b, 63px 4.33333px #04ff00, -173px -114.66667px #d900ff, 56px -296.66667px #ff007b, 140px -203.66667px #00ffa2, -4px -151.66667px #0088ff, 174px -108.66667px #ff00c4, 85px -334.66667px #5eff00, 103px -151.66667px #fff200, 188px -280.66667px #00ffd0, 4px -349.66667px #ff00f2, -237px 33.33333px #8800ff, 98px 44.33333px #0400ff, 188px -362.66667px #ff1500, -192px -204.66667px #004dff, -31px -155.66667px #ff5100, 105px -242.66667px #ff00b3, -76px -25.66667px #ff001e, -94px 72.33333px #005eff, 169px -305.66667px #00ff51, 67px -364.66667px #ffaa00, -17px -248.66667px #ff4d00, 196px -301.66667px #00ff5e, -8px -250.66667px #00ff77, -33px -311.66667px #ff2b00, 1px -201.66667px #c400ff, 35px -144.66667px #9dff00, 212px -17.66667px #00ff73, 96px -151.66667px #c800ff, 47px -261.66667px #9d00ff, 130px -122.66667px #00ff5e, -232px -365.66667px #ff00d9, -209px -195.66667px #a600ff, 44px -128.66667px #0009ff, 188px -127.66667px #33ff00, -239px 4.33333px #91ff00, -62px -183.66667px #0088ff, 189px -290.66667px #00b3ff, 200px -177.66667px #ff006a, -174px 45.33333px #ffdd00, -5px -186.66667px #00ff77, -40px 48.33333px #ff0022, -151px -356.66667px #0033ff; } }

@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
